:root {
    --lightgrey: #eaeaea; /* [1] */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.main-window {
    display: flex;
    width: 100%;
    .main-panel{
        width: 100%;
        padding: 1rem;
    }
}